* {
  margin:0
}

/* #cv-form {
  //display:none;
} */

#cv-template {
  display:none
}

.my-image {
  border-radius: 50%;
  width:200px;
}

.background {
   background-color: #9AC5F4;
}

.links {
  display:none
}